
.footer {
  color:white;
  background: $primary-color;
  padding: 1em 1em;
  height: 200px;

  display: grid; 
  grid-template-columns: 7vw 1fr 7vw; 
  grid-template-rows: 1fr;

  

  &-container {
    padding: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 1;
    display: grid;
    /* ACTING AS A GRID CONTAINER */
    
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "navigation secondary " "contact contact social";

    a{
      color: white;
      font-size: 13px;

    }

    ul{
      padding: 0 2em;
    }

    .social-networks{
      display: grid;
      // grid-area: social;
      
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      
      h3 {
        grid-column: 1 / -1;
        margin: 12px;
        padding: 0;
      }
      li{
        grid-column: 1 / -1;
        // grid-row: 1/1;
      }
    }
  }
}

.bottom-line { 
  display: grid;
   grid-template-columns: 7vw 8fr 4fr 7vw;

   p { grid-column: 2; }
   &,a{color: $primary-color; }

   .legal { 
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: end; }
   }

  //  ----------------menu footer mobile------------------------

   #fmobile{
     background: $primary-color;
     color: white;
     width: 100%;
     min-width: 300px;
     margin: 0;
   }

   .menu-footer{
    width: 100%;
    padding: 0;

    ul{
      display: none;
      background: white;
      color: $primary-color;
      }

    // li:hover ul{
    //   display: block;
    // }

    a {
      // border: 1px solid green;
      display: block;
      padding: .5em .5em;
      // width: 100%;
      color: white;
      font-size: 1.2em;
      font-weight: lighter;

      &:hover{
        background:lighten($primary-color, 10%)
      }

    }

    .icon{
      // border: 1px solid violet;
      font-size: 1em;
      line-height: 24px;

      &.left{
        margin-right: 1rem;
        float: left;
      }
      &.right {
        float:right;
        margin-left: 1rem;
      }
    }

    
    .activado > a {
      background:lighten($primary-color, 20%);
      color: white; 
    }

    .social{
      display: flex;
      a {
        display: flex;
        justify-content: center;
      }
    }

     
   }
