.login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    h1{
      color: $primary-color;
      font-weight:400;
      text-transform: uppercase;
      font-size: 1.1rem;
      margin-bottom: 6px;
    }
    .h1-right{
      text-align: center;
    }

    h2{
      color: #888888;
      font-weight: 400;
      font-size: 1em;
      text-align: center;
      
      line-height: 1;
      margin-top: 0;
      position: relative;
      top: -12px;
    }

   
}
.one{
   
    // border: 1px solid red;
    grid-column: 1 / 2;
    text-align: end;
    padding: 20px 20px 0 80px;
    

}

.one, .two{
  
  margin: 30px;

  input{
    width: 60%;
    font-weight: lighter;
    margin-bottom: 15px;
    border: 0.5px solid #888888;
    border-radius: 5px;
    padding:5px;

    &.button-yellow{
      background: $secondary-color;
      border-radius: 3px;
      border: none;
      width: 63%;
      padding: 7px;
      color: white;
      
      &:hover{
        background:lighten($secondary-color, 10%);
        @include easeOut;
      }
    }
  }

  hr.center{
        width: 60%;
        margin-right: 0%;
        margin-top: 30px;
    }
  [type="checkbox"]:checked + label {
    color: darken($primary-color, $amount:10)
  }
  .checkbox {
    margin: 0 0 1em 12em;
    display: flex;
    color: $primary-color;
    // justify-content: space-between;

    &:hover{
      color: $primary-color;
    }

    .input-remember{
      width: 22px;
      color: $primary-color;
      border: 0.5 solid $primary-color;
    }
    label{
      color: $primary-color;
      font-size: 14px;
    }

    a{
      color: $primary-color;
      font-size: 12px;
      display: flex;
      align-items: flex-end;
      margin-left: 10rem;
    }
  }

  button {
    width: 63%;
    border-radius: 3px;
    border: none;
    padding: 7px;
    color: white;
    cursor: pointer;
    
    &.button-blue{
      background: $primary-color;
      &:hover{
        background:lighten($primary-color, 20%);
        @include easeOut;
      }
    }
    

    
  }

  .paragraph{
    display: inline-block;
    width: 60%;

    .hr-left{
      position: relative;
      margin-left: 0%;
      margin-right: 65%;
      top: 23px;
    }

    p{
      font-size: 12px;
      color: gray;
      text-align: center;
    }

    .hr-right{
      position: relative;
      margin-left: 64%;
      margin-right: 0%;
      top: -18px;
    }
  }

 
}

.two{
    // border: 2px solid blue;
    grid-column:2/3;
    padding: 20px 80px 0 20px;

      div.city{
        display: grid;
        label{
          margin-right: 31px;
          color: gray;
          font-size: 11px;
        }
      }

      input#advertising, input#terms, input#comany-singin{
        width: 12px;
      }
      label{
        font-size: 10px;
        color: gray;

        a{
          color: $primary-color;
          text-decoration: underline;
        }

        &.company-singin{
          color: $primary-color;
        }
      }
    hr.two-center{
        width: 60%;
        margin-left: 0%;
    }

    input[type="checkbox"] ~ fieldset{
      // height: 0;
      display: none;
      
      // overflow: hidden;
      transition: all 0.2s ease;	
    }

    // is checkbox is checked show fieldset
    input[type="checkbox"]:checked ~ fieldset{
      display: block;
      border: none;
      }
   
}


.social{

  display: flex;
  justify-content: space-between;

  .social-login{
    .fab {
        // padding: 10px;
        margin: 0;
        padding: 8px;
        font-size: 20px;
        width: 20px;
        text-align: center;
        margin: 1px 5px;
        border-radius: 50%;
    
        &:hover{
            opacity: 0.7;
        }
      }

      &.left{
        margin-left: 79px;

        a{
          color: #7287B3;
          text-transform: uppercase;
        }
        
      }

      &.right{
        margin-right: 5px;

        a{
          color: #DD4B39;
          text-transform: uppercase;
        }
      }
  }

  &.right {
    margin-left: -73px;
    margin-right: 74px;

  }
}

  .fa-facebook-f {
    background: #3B5998;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .middle{
    text-align: center;
    display: none;
    input{
      width: 70%;
      font-weight: lighter;
      margin-bottom: 15px;
      border: 0.5px solid #888888;
      border-radius: 5px;
      padding:5px;
    }
    button {
      width: 13%;
      text-transform: uppercase;
      position: relative;
      left: -9px;
      line-height: 14px;
      border-radius: 3px;
      border: none;
      padding: 7px;
      color: white;
      font-size: 10px;
      background: $primary-color;
      cursor: pointer;
    }
  }

 